{% extends '_partials/base.html' %}
{% load static %}

{% block content %}
{% include '_partials/messages.html' %}
    <h1 class="ui header">My List of Visiting CUstomers/Companies</h1>
    
    {% if companies %}
    <table class="ui table">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Address</th>
                <th>Contact Person</th>
                <th>Department Visited</th>
                <th>Visit Date</th>
            </tr>
        </thead>
        <tbody>
            {% for company in companies  %}
            <tr>
                <td>{{ company.company_name }}</td>
                <td>{{ company.address }}</td>
                <td>{{ company.contact_person }}</td>
                <td>{{ company.department_to_vist }}</td>
                <td> {{ company.visit_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="ui message">
        <div class="header">
            No Companies yet
        </div>
        <p>Add <a href="{% url 'add_company' %}">Company</a></p>
    </div>
    {% endif %} 
{% endblock %}