{% extends '_partials/base.html' %}

{% block content %}
{% include '_partials/messages.html' %}
    <h1 class="ui header">Todo Detail</h1>
    <div class="ui card">
        <div class="content">
            <div class="header">{{ todo.title}}</div>
            <div class="meta">{{ todo.created_at }}</div>
            <div class="description">
                <p>Description:{{todo.description}}</p>
            </div>
        </div>
        <div class="extra content">
            <p>
            
            {% if todo.is_completed %}
                <i class="check icon green"></i>
                Completed at {{ todo.updated_at }}
            {% else %}
                Not yet Complete
            {% endif %}
            </p>
            <a href="{% url 'todo:todo-edit' todo.id %}" class="ui button primary">Edit</a>
            <a href="{% url 'todo:todo-delete' todo.id %}" class="ui button red">Delete this todo</a>
        </div>
    </div>
{% endblock %}